# Appwrite
NEXT_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=698243f1003e10aaa472
APPWRITE_API_KEY=standard_9fadecc099cc5731635094826b01047bbf139c8e72ca2d96b9dd3a62812873126dc9eefa9a8a0a6634efb1f818e48a7883f7f00c743f362f02a07b5c4c63a5f29e01dac955fa6bdc90c2712611e9fec59d77f117e23b7a6d123f3231ddf3df1997d471b636efae6e9e3c0a4c82334f56b565c5c534d87e8dc46a37a5d9c11db2

# Appwrite IDs
NEXT_PUBLIC_DATABASE_ID=69824479002438e26766
NEXT_PUBLIC_PRODUCTS_COLLECTION_ID=products
NEXT_PUBLIC_USERS_COLLECTION_ID=users
NEXT_PUBLIC_ORDERS_COLLECTION_ID=orders
NEXT_PUBLIC_DROPS_COLLECTION_ID=drops
NEXT_PUBLIC_NOTIFY_COLLECTION_ID=notify_me
NEXT_PUBLIC_COMMUNITY_COLLECTION_ID=community_posts
NEXT_PUBLIC_STORAGE_BUCKET_ID=69832327002c569df714

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# SendGrid
SENDGRID_API_KEY=your_api_key
SENDGRID_FROM_EMAIL=no-reply@dropfit.com
NEXT_PUBLIC_SETTINGS_COLLECTION_ID=settings
